<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>
        <%= title %></title>
    <!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <link href="/lib/weui.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/example.css" rel="stylesheet" type="text/css" />
</head>
<body ontouchstart>
